/* TODO REMOVE */

.container {
  border: 1px dashed black;
}

.container-fluid {
  border: 1px dashed black;
}

[class^="col"] {
  min-height: 50px;
  border: 1px solid red;
}

section {
  border: 1px solid blue;
  margin-bottom: 50px;
}

/* HEADER */

.header-top {
  min-height: 40px;
  background-color: black;
}

.logo-small {
  height: 100%;
  width: 70px;
}

/* SPOTLIGHT */

#spotlight {
  min-height: 400px;
}
