/* TODO REMOVE */

.container {
  border: 1px dashed black;
}

.container-fluid {
  border: 1px dashed black;
}

[class^="col"] {
  min-height: 50px;
  border: 1px solid red;
}

section {
  border: 1px solid blue;
  margin-bottom: 50px;
}

img {
  width: 100%;
}

/* TEXT */

.title {
  font-weight: 500;
  font-size: 40px;
}

.subtitle {
  font-weight: 500;
  font-size: 21px;
  color: #727272;
}

/* HEADER */

.header-top {
  min-height: 40px;
}

.logo-s {
  width: 70px;
}

/* SPOTLIGHT */

[id^="spotlight"] {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#spotlight-top {
  background-image: url("../img/returnal-listing-thumb-01-ps5.jpg");
}

#spotlight-center {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.spotlight-logo {
  height: 100%;
  width: 300px;
}

/* FEATURED GAMES */

#featured-games img {
  border-radius: 10px;
}

#featured-games img:hover {
  border: 1px solid red;
  /* padding: 5px; */
}
